body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    max-width: 800px;
    margin-top: 3em;
}

p {
    font-size: 1em;
}

.small-text {
    font-size: 0.95em;
}

.sub-text {
    font-size: 1em;
}

h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eaecef;
    font-weight: 600;
}

h4 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eaecef;
    font-weight: 600;
}

.container-left img {
   float: left;
   margin-right: 3em;
   border-radius: 50%;
   width: 12em;
   height: auto;
}

.container-left, .container-right {
    padding: 0;
    margin: 0;
}

.container-right p {
    padding: 0;
    margin: 5px;
}

.container {
    overflow: hidden;
    margin-top: 1em;
    align-items: center; 
    padding: 0;
    margin-bottom: 2em;
}

a {
    text-decoration: none;
}

.icons {
    margin-top: 10px;
}

.icons a {
    padding-right: 15px;
}

.social-icon {
    width: 2.2em;
    height: auto;
    margin-right: 0.8em;
}

@media (max-width: 768px) {
    body {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .project-image {
        margin: auto;
        width: 50%;
    }
}

.copyright {
    color: gray;
    font-size: 0.75em;
}

/* for quote */


.quote-box {
    text-align: center;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .quote-text {
    font-size: 1rem;
    font-style: italic;
    color: #333;
    margin-bottom: 1rem;
  }

  .quote-author {
    font-size: 1rem;
    color: #666;
    font-weight: bold;
  }

.project {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
    align-items: flex-start;
}

.project-image {
    flex: 0 0 30%;
}

.project-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-text {
    flex: 0 0 70%;
}

@media (max-width: 768px) {
    .project {
        flex-direction: column;
    }

    .project-image,
    .project-text {
        flex: 100%;
    }
}